.restaurant-menu__nav {
  border-bottom: 1px solid var(--border_light_grey);
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.restaurant-menu {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  width: 1124px;
  list-style: none;
}

.restaurant-menu__card {
  font-family: var(--main_font);
  font-size: 16px;
  line-height: 19px;
  color: var(--font_grey);
  text-decoration: none;
  margin-right: 50px;
}

.restaurant-menu__card:hover {
  color: var(--font_blue);
}
